.App {
  text-align: center;
}

.que{
  background-color: beige;
  text-align: left;
  padding-left:  20px;
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
button{
  height: fit-content;
  width: fit-content;
  background-color: darkslateblue;
  /* color: burlywood; */
  margin-left: 30px;
  background-color: rgb(213, 207, 207);
  color: rgb(10, 9, 9);
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  
}
button:hover{
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
  cursor:pointer;
}
.nextbtn{
  background-color: rgb(20, 14, 207);
  color: white;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
